.box {
    cursor: pointer;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid var(--mantine-color-gray-4);
}

.box:hover {
   background-color: var(--mantine-color-gray-0); 
}

.selected {
    background-color: var(--mantine-primary-color-light-hover);
}

.selected:hover {
    background-color: var(--mantine-primary-color-light-hover);
}

.grid {
    height: 100vh;
}
.grid_inner {
    height: 100%;
    margin: 0;
}

.threads {
    overflow: hidden;
    border: 1px solid;
    border-color: var(--mantine-color-gray-4);
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
}

.threadList {
    max-height: calc(100vh - 6vh);
    overflow: scroll;
}

.thread {
    right: 10vw;
    padding: 0;
}

.rightPanel {
    max-height: 300vh;
    overflow: scroll;
    /* max-height: 100vh;
    overflow: scroll;
    border: solid 2px red;
    padding: 0; */
}

.unresolved {
    border-left: 6px solid var(--mantine-color-blue-6);
}

.inboxText {
    font-size: 3vh;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
    height: 6vh;
    border-bottom: 1px solid var(--mantine-color-gray-4);
}

.subjectText {
    font-size: 3vh;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
    border-top: 1px solid var(--mantine-color-gray-4);
    border-bottom: 1px solid var(--mantine-color-gray-4);
    height: 6vh;
}

.threadScroll {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border-bottom: 1px solid var(--mantine-color-gray-4);
    border-right: 1px solid var(--mantine-color-gray-4);
    height: 40vh;
}

.editor {
    margin-top: 20px;
    padding-left: 20px;
    height: 20vh;
}

.content {
    height: 20vh;
    overflow: scroll;
}

.preview {
    size: 10px;
    color: var(--mantine-color-gray-7);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.between {
    justify-content: space-between
}
.sourceHeader {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
    justify-content: flex-end;
    border-top: 1px solid var(--mantine-color-gray-4);
    border-bottom: 1px solid var(--mantine-color-gray-4);
}
.sourceText {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0;
}

.sourceQuestion{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0;
}

.sourceConfidence{
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0;
}

.confidence_red {
    border-left: 6px solid var(--mantine-color-red-6);
}
.confidence_orange {
    border-left: 6px solid var(--mantine-color-orange-6);
}
.confidence_yellow {
    border-left: 6px solid var(--mantine-color-yellow-6);
}
