aiohttp==3.8.6
aiosignal==1.3.1
APIFlask==2.0.2
apispec==6.3.0
async-timeout==4.0.3
attrs==23.1.0
blinker==1.6.3
boto3==1.20.50
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
filelock==3.12.4
Flask==3.0.0
Flask-Cors==4.0.0
Flask-HTTPAuth==4.8.0
Flask-Mail==0.9.1
flask-marshmallow==0.15.0
Flask-SQLAlchemy==3.1.1
frozenlist==1.4.0
fsspec==2023.9.2
huggingface-hub==0.17.3
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
MarkupSafe==2.1.3
marshmallow==3.20.1
mpmath==1.3.0
multidict==6.0.4
networkx==3.2
nltk==3.8.1
numpy==1.26.0
openai==0.28.1
packaging==23.2
pandas==2.1.1
Pillow==10.1.0
psycopg2-binary==2.9.9
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
redis==5.0.1
regex==2023.10.3
requests==2.31.0
safetensors==0.4.0
scikit-learn==1.3.1
scipy==1.11.3
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.16.0
SQLAlchemy==2.0.22
sympy==1.12
threadpoolctl==3.2.0
tokenizers==0.14.1
torch==2.1.1
authlib==1.2.0
torchvision==0.16.1
tqdm==4.66.1
transformers==4.34.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.25.4
webargs==8.3.0
Werkzeug==3.0.0
yarl==1.9.2
zipp==3.17.0
